# Q1 Write a program  to accept percentage from the user and dislpay the grade according to the following criteria :

In [6]:
percentage = float(input("Enter the percentage"))

if percentage > 90.0 : 
    
    print('The grade is "A"')
    
    
elif percentage > 80 and percentage <= 90 :
    
    print('The grade is "B"')

elif percentage >= 60 and percentage <=80 :
    
    print('The grade is "C"')
    
else :
    
    print('The grade is "D"')

Enter the percentage 92

The grade is "A"

# Q2 Write a program to accept the cost price of a bike and display the road tax to be paid according to the following critria :

In [8]:
bike_price = int(input("Enter the price of the bike"))

if bike_price > 100000 :
    
    tax = (bike_price *15)/100
    
elif bike_price > 50000 and bike_price <= 100000:
    
    tax = (bike_price*10)/100
    
else :
    tax = (bike_price*5)/100
    

print("The tax should be paid is : ", tax)

Enter the price of the bike 110000

The tax should be paid is :  16500.0

# Q3 Accept any city from the user and display monumnets of that city

In [14]:
city_name = str(input("Enter the name of the city from the following list\n 1) Delhi \n 2)Agra \n 3)Jaipur\n"))
city_list = ["Delhi","Agra","Jaipur"]
    
if city_name == "Delhi" :
    print("Monument in Delhi is --> Red Fort")

elif city_name == "Agra" :
    print("Monument in Agra is --> Taj Mahal")
    
elif city_name == "Jaipur" :
    print("Monument in Jaipur is --> Jal Mahal")
    
else : 
    print("Enter the name from the list only !!!")

Enter the name of the city from the following list
 1) Delhi
 2)Agra
 3)Jaipur
 Delhi

Monument in Delhi is --> Red Fort

# Q4 Check how many times a given number can be divisible by 3 before it is less than or equal to 10.

In [21]:
num = int(input("Enter a number :"))

count = 0
while num >= 10 :
    
    num = num / 3
    count+= 1

    
print("The number of times a number is divisible by 3 is " , count)

Enter a number : 729

The number of times a number is divisible by 3 is  4

# Q5 Why and when to use while loop in python give a detailed description with example

In [23]:
'''
   Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. 
   And when the condition becomes false, the line immediately after the loop in the program is executed.
'''

# Example 


count = 0
while (count < 3):
	count = count + 1
	print("Hello World")

Hello World
Hello World
Hello World

# Q6 Use nested while loop to print 3 different patterns

In [26]:
# 1st Pattern

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  3

*
* *
* * *

In [27]:
# 2nd Pattern

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  3

* * *
* *
*

In [30]:
# 3rd Pattern

n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  3

  1
  2   3
  4   5   6

# Q7 Reverse a while loop to print numbers from 10 to 1

In [34]:
i = 10
while i > 0:
    
    print(i)
    i-= 1

10
9
8
7
6
5
4
3
2
1

# Q8 Reverse a while loop to print numbers from 10 to 1

In [36]:
i = 10
while i > 0:
    
    print(i)
    i-= 1

10
9
8
7
6
5
4
3
2
1